/* Page/Post Metabox */
.boombox-page-advanced-fields,
.boombox-post-advanced-fields {
    padding-top: 15px;
}
.boombox-page-advanced-fields hr,
.boombox-post-advanced-fields hr{
    margin: 20px 0;
    border-top: 1px solid #eee;
}
.boombox-page-advanced-fields .boombox-page-form-row,
.boombox-post-advanced-fields .boombox-post-form-row{
    display: block;
    margin-bottom: 10px;
}

.boombox-page-advanced-fields .boombox-page-form-row.hidden,
.boombox-post-advanced-fields .boombox-post-form-row.hidden{
    display: none;
}

.boombox-page-advanced-fields .boombox-page-form-row label,
.boombox-post-advanced-fields .boombox-post-form-row label{
    min-width: 230px;
    display: inline-block;
    font-weight: bold;
}
.boombox-page-advanced-fields .boombox-page-form-row.sentence label,
.boombox-post-advanced-fields .boombox-post-form-row.sentence label {
    min-width: auto;
}
#boombox-post-metabox .boombox-post-advanced-fields .boombox-post-form-row label{
    min-width: inherit;
    vertical-align: top;
}
.boombox-page-advanced-fields .boombox-page-form-row select,
.boombox-page-advanced-fields .boombox-page-form-row input[type=number],
.boombox-post-advanced-fields .boombox-post-form-row select,
.boombox-post-advanced-fields .boombox-post-form-row input[type=number] {
    min-width: 240px;
}
.boombox-page-advanced-fields .boombox-page-form-row.sentence input[type=number],
.boombox-post-advanced-fields .boombox-post-form-row.sentence input[type=number] {
    min-width: auto;
    width:100px;
}
.boombox-page-advanced-fields .boombox-page-form-row textarea,
.boombox-post-advanced-fields .boombox-post-form-row textarea {
    vertical-align: top;
    resize: none;
}
.boombox-post-advanced-fields #boombox_video_url{
    margin-top: 5px;
}
/* Category Metabox */
.term-thumbnail-wrap #cat_thumbnail{
    float: left;
    margin-right: 10px;
}
.term-thumbnail-wrap #cat_thumbnail img{
    border: 1px solid #E0E0E0;
}
.term-thumbnail-wrap .buttons-wrap{
    line-height: 60px;
}

.term-icon-name-wrap #cat_icon_name{
    width: 200px;
}


/* Nav Item Meta */
.field-icons .edit-menu-item-icon{
    width: 300px;
}



.ui-selectmenu-menu .ui-menu.customicons{
    max-height: 200px;
}
.ui-selectmenu-menu .ui-menu.customicons .ui-menu-item .icon{
    padding-right: 4px;
    width: 16px;
    display: inline-block;
    font-size: 13px;
}

/** Tabs */
.boombox-admin-tabs {
    margin-bottom: 25px;
}

.boombox-admin-tabs-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.boombox-admin-tabs-menu li {
    border-style: solid;
    border-color: transparent;
    background-color: #f4f7f6;
}
.boombox-admin-tabs-menu li a {
    color: inherit;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.boombox-admin-tabs-content {
    padding: 25px 15px;
    border: 2px solid #f4f7f6;
}

.boombox-admin-tab-content {
    display: none;
}
.boombox-admin-tab-content.active {
    display: block;
}

.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu li {
    float: left;
    border-width: 2px 2px 0 2px;
    margin: 0 2px 0 0;
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu li.active {
    font-weight: 700;
    background: #f1f1f1;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu li:last-child {
    margin-right: 0;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu li.active a {
    bottom: -2px;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu li a:focus {
    outline: 0;
    box-shadow: none;
}

.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu:before, .boombox-admin-tabs-horizontal .boombox-admin-tabs-menu:after {
    content: " ";
    display: table;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu:after {
    clear: both;
}
.boombox-admin-tabs-horizontal .boombox-admin-tabs-menu {
    *zoom: 1;
}
